USE [master]
GO
/****** Object:  Database [Dharmesh]    Script Date: 5/27/2022 9:31:10 AM ******/
CREATE DATABASE [Dharmesh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dharmesh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Dharmesh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dharmesh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Dharmesh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dharmesh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dharmesh]
GO
/****** Object:  Table [dbo].[CompanyMaster]    Script Date: 5/27/2022 9:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [PK_CompanyMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileMaster]    Script Date: 5/27/2022 9:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](50) NULL,
	[FileContent] [nvarchar](50) NULL,
	[CompanyId] [int] NULL,
 CONSTRAINT [PK_FileMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FileMaster]  WITH CHECK ADD  CONSTRAINT [FK_FileMaster_CompanyMaster] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[CompanyMaster] ([Id])
GO
ALTER TABLE [dbo].[FileMaster] CHECK CONSTRAINT [FK_FileMaster_CompanyMaster]
GO
/****** Object:  StoredProcedure [dbo].[getCompanyMasterDetails]    Script Date: 5/27/2022 9:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getCompanyMasterDetails] 
As
select id, Name, (case when Status = 1 then 'Reject' when 0 =Status  OR Status IS NULL then 'Approve' END) as status  from CompanyMaster
GO
/****** Object:  StoredProcedure [dbo].[insertCompanyAndFileMaster]    Script Date: 5/27/2022 9:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[insertCompanyAndFileMaster] 
(
@filename nvarchar(50),
@file nvarchar(50)
) 
As
SET NOCOUNT ON;
declare @companyId int;
insert into CompanyMaster (Name,Status)
 values(@fileName,null);
 SELECT  @companyId =  SCOPE_IDENTITY();
 select @companyId
 insert into FileMaster (FileName,FileContent,companyId)
 values(@fileName,@file,@companyId);
 

 --select * from CompanyMaster
 --select * from FileMaster
GO
/****** Object:  StoredProcedure [dbo].[UpdateStatus]    Script Date: 5/27/2022 9:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[UpdateStatus] 
(
@CompanyID int,
@Active int
) 
As
update CompanyMaster set status=@Active where Id= @CompanyID
GO
USE [master]
GO
